In [4]:
import datetime
from datetime import datetime

import pandas as pd
import matplotlib.pylab as plt
from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

In [5]:
today_date=datetime.now()
filename = "https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-"+today_date.strftime('%Y')+"-"+today_date.strftime('%m')+"-"+today_date.strftime('%d')+ ".xlsx"
#filename ="https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-03-23.xlsx"
df=pd.read_excel(filename)

In [6]:
df_uk_1=df.loc[df["GeoId"]=='UK']
df_it_1=df.loc[df["GeoId"]=='IT']

In [7]:
df_uk_C = df_uk_1.sort_values('DateRep')
df_uk_C['UK_Total_Cases'] = df_uk_C['Cases'].cumsum()

df_uk_D = df_uk_1.sort_values('DateRep')
df_uk_D['UK_Total_Deaths'] = df_uk_D['Deaths'].cumsum()

In [8]:
df_it_C = df_it_1.sort_values('DateRep')
df_it_C['IT_Total_Cases'] = df_it_C['Cases'].cumsum()

df_it_D = df_it_1.sort_values('DateRep')
df_it_D['IT_Total_Deaths'] = df_it_D['Deaths'].cumsum()

In [9]:
df_uk_C

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,UK_Total_Cases
6336,2019-12-31,31,12,2019,0,0,United_Kingdom,UK,0
6335,2020-01-01,1,1,2020,0,0,United_Kingdom,UK,0
6334,2020-01-02,2,1,2020,0,0,United_Kingdom,UK,0
6333,2020-01-03,3,1,2020,0,0,United_Kingdom,UK,0
6332,2020-01-04,4,1,2020,0,0,United_Kingdom,UK,0
...,...,...,...,...,...,...,...,...,...
6256,2020-03-20,20,3,2020,647,41,United_Kingdom,UK,3277
6255,2020-03-21,21,3,2020,706,33,United_Kingdom,UK,3983
6254,2020-03-22,22,3,2020,1035,56,United_Kingdom,UK,5018
6253,2020-03-23,23,3,2020,665,48,United_Kingdom,UK,5683
6252,2020-03-24,24,3,2020,967,54,United_Kingdom,UK,6650

In [10]:
df_uk_D

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,UK_Total_Deaths
6336,2019-12-31,31,12,2019,0,0,United_Kingdom,UK,0
6335,2020-01-01,1,1,2020,0,0,United_Kingdom,UK,0
6334,2020-01-02,2,1,2020,0,0,United_Kingdom,UK,0
6333,2020-01-03,3,1,2020,0,0,United_Kingdom,UK,0
6332,2020-01-04,4,1,2020,0,0,United_Kingdom,UK,0
...,...,...,...,...,...,...,...,...,...
6256,2020-03-20,20,3,2020,647,41,United_Kingdom,UK,144
6255,2020-03-21,21,3,2020,706,33,United_Kingdom,UK,177
6254,2020-03-22,22,3,2020,1035,56,United_Kingdom,UK,233
6253,2020-03-23,23,3,2020,665,48,United_Kingdom,UK,281
6252,2020-03-24,24,3,2020,967,54,United_Kingdom,UK,335

In [11]:
df_it_C

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,IT_Total_Cases
3268,2019-12-31,31,12,2019,0,0,Italy,IT,0
3267,2020-01-01,1,1,2020,0,0,Italy,IT,0
3266,2020-01-02,2,1,2020,0,0,Italy,IT,0
3265,2020-01-03,3,1,2020,0,0,Italy,IT,0
3264,2020-01-04,4,1,2020,0,0,Italy,IT,0
...,...,...,...,...,...,...,...,...,...
3188,2020-03-20,20,3,2020,5322,429,Italy,IT,41035
3187,2020-03-21,21,3,2020,5986,625,Italy,IT,47021
3186,2020-03-22,22,3,2020,6557,795,Italy,IT,53578
3185,2020-03-23,23,3,2020,5560,649,Italy,IT,59138
3184,2020-03-24,24,3,2020,4789,601,Italy,IT,63927

In [12]:
df_it_D

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,IT_Total_Deaths
3268,2019-12-31,31,12,2019,0,0,Italy,IT,0
3267,2020-01-01,1,1,2020,0,0,Italy,IT,0
3266,2020-01-02,2,1,2020,0,0,Italy,IT,0
3265,2020-01-03,3,1,2020,0,0,Italy,IT,0
3264,2020-01-04,4,1,2020,0,0,Italy,IT,0
...,...,...,...,...,...,...,...,...,...
3188,2020-03-20,20,3,2020,5322,429,Italy,IT,3407
3187,2020-03-21,21,3,2020,5986,625,Italy,IT,4032
3186,2020-03-22,22,3,2020,6557,795,Italy,IT,4827
3185,2020-03-23,23,3,2020,5560,649,Italy,IT,5476
3184,2020-03-24,24,3,2020,4789,601,Italy,IT,6077

In [13]:
indexNames = df_uk_C[ df_uk_C['UK_Total_Cases'] == 0 ].index
df_uk_C.drop(indexNames, inplace=True)

indexNamesD = df_uk_D[ df_uk_D['UK_Total_Deaths'] == 0 ].index
df_uk_D.drop(indexNamesD, inplace=True)

In [14]:
indexNamesIT = df_it_C[ df_it_C['IT_Total_Cases'] == 0 ].index
df_it_C.drop(indexNamesIT, inplace=True)

indexNamesITD = df_it_D[ df_it_D['IT_Total_Deaths'] == 0 ].index
df_it_D.drop(indexNamesITD, inplace=True)

In [19]:
df_uk_C

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,UK_Total_Cases
6305,2020-01-31,31,1,2020,2,0,United_Kingdom,UK,2
6304,2020-02-01,1,2,2020,0,0,United_Kingdom,UK,2
6303,2020-02-02,2,2,2020,0,0,United_Kingdom,UK,2
6302,2020-02-03,3,2,2020,0,0,United_Kingdom,UK,2
6301,2020-02-04,4,2,2020,0,0,United_Kingdom,UK,2
6300,2020-02-05,5,2,2020,0,0,United_Kingdom,UK,2
6299,2020-02-06,6,2,2020,0,0,United_Kingdom,UK,2
6298,2020-02-07,7,2,2020,1,0,United_Kingdom,UK,3
6297,2020-02-08,8,2,2020,0,0,United_Kingdom,UK,3
6296,2020-02-09,9,2,2020,1,0,United_Kingdom,UK,4
6295,2020-02-10,10,2,2020,0,0,United_Kingdom,UK,4
6294,2020-02-11,11,2,2020,4,0,United_Kingdom,UK,8
6293,2020-02-12,12,2,2020,0,0,United_Kingdom,UK,8
6292,2020-02-13,13,2,2020,1,0,United_Kingdom,UK,9
6291,2020-02-14,14,2,2020,0,0,United_Kingdom,UK,9
6290,2020-02-15,15,2,2020,0,0,United_Kingdom,UK,9
6289,2020-02-16,16,2,2020,0,0,United_Kingdom,UK,9
6288,2020-02-17,17,2,2020,0,0,United_Kingdom,UK,9
6287,2020-02-18,18,2,2020,0,0,United_Kingdom,UK,9
6286,2020-02-19,19,2,2020,0,0,United_Kingdom,UK,9
6285,2020-02-20,20,2,2020,0,0,United_Kingdom,UK,9
6284,2020-02-21,21,2,2020,0,0,United_Kingdom,UK,9
6283,2020-02-22,22,2,2020,0,0,United_Kingdom,UK,9
6282,2020-02-23,23,2,2020,0,0,United_Kingdom,UK,9
6281,2020-02-24,24,2,2020,4,0,United_Kingdom,UK,13
6280,2020-02-25,25,2,2020,0,0,United_Kingdom,UK,13
6279,2020-02-26,26,2,2020,0,0,United_Kingdom,UK,13
6278,2020-02-27,27,2,2020,0,0,United_Kingdom,UK,13
6277,2020-02-28,28,2,2020,3,0,United_Kingdom,UK,16
6276,2020-02-29,29,2,2020,2,0,United_Kingdom,UK,18
6275,2020-03-01,1,3,2020,5,0,United_Kingdom,UK,23
6274,2020-03-02,2,3,2020,13,0,United_Kingdom,UK,36
6273,2020-03-03,3,3,2020,4,0,United_Kingdom,UK,40
6272,2020-03-04,4,3,2020,11,0,United_Kingdom,UK,51
6271,2020-03-05,5,3,2020,34,0,United_Kingdom,UK,85
6270,2020-03-06,6,3,2020,30,1,United_Kingdom,UK,115
6269,2020-03-07,7,3,2020,48,0,United_Kingdom,UK,163
6268,2020-03-08,8,3,2020,43,1,United_Kingdom,UK,206
6267,2020-03-09,9,3,2020,67,1,United_Kingdom,UK,273
6266,2020-03-10,10,3,2020,48,2,United_Kingdom,UK,321
6265,2020-03-11,11,3,2020,52,1,United_Kingdom,UK,373
6264,2020-03-12,12,3,2020,83,0,United_Kingdom,UK,456
6263,2020-03-13,13,3,2020,134,4,United_Kingdom,UK,590
6262,2020-03-14,14,3,2020,117,0,United_Kingdom,UK,707
6261,2020-03-15,15,3,2020,433,11,United_Kingdom,UK,1140
6260,2020-03-16,16,3,2020,251,14,United_Kingdom,UK,1391
6259,2020-03-17,17,3,2020,152,20,United_Kingdom,UK,1543
6258,2020-03-18,18,3,2020,407,5,United_Kingdom,UK,1950
6257,2020-03-19,19,3,2020,680,43,United_Kingdom,UK,2630
6256,2020-03-20,20,3,2020,647,41,United_Kingdom,UK,3277
6255,2020-03-21,21,3,2020,706,33,United_Kingdom,UK,3983
6254,2020-03-22,22,3,2020,1035,56,United_Kingdom,UK,5018
6253,2020-03-23,23,3,2020,665,48,United_Kingdom,UK,5683
6252,2020-03-24,24,3,2020,967,54,United_Kingdom,UK,6650

In [17]:
df_uk_D.count()

DateRep                      19
Day                          19
Month                        19
Year                         19
Cases                        19
Deaths                       19
Countries and territories    19
GeoId                        19
UK_Total_Deaths              19
dtype: int64

In [20]:
df_it_C

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId,IT_Total_Cases
3237,2020-01-31,31,1,2020,3,0,Italy,IT,3
3236,2020-02-01,1,2,2020,0,0,Italy,IT,3
3235,2020-02-02,2,2,2020,0,0,Italy,IT,3
3234,2020-02-03,3,2,2020,0,0,Italy,IT,3
3233,2020-02-04,4,2,2020,0,0,Italy,IT,3
3232,2020-02-05,5,2,2020,0,0,Italy,IT,3
3231,2020-02-06,6,2,2020,0,0,Italy,IT,3
3230,2020-02-07,7,2,2020,0,0,Italy,IT,3
3229,2020-02-08,8,2,2020,0,0,Italy,IT,3
3228,2020-02-09,9,2,2020,0,0,Italy,IT,3
3227,2020-02-10,10,2,2020,0,0,Italy,IT,3
3226,2020-02-11,11,2,2020,0,0,Italy,IT,3
3225,2020-02-12,12,2,2020,0,0,Italy,IT,3
3224,2020-02-13,13,2,2020,0,0,Italy,IT,3
3223,2020-02-14,14,2,2020,0,0,Italy,IT,3
3222,2020-02-15,15,2,2020,0,0,Italy,IT,3
3221,2020-02-16,16,2,2020,0,0,Italy,IT,3
3220,2020-02-17,17,2,2020,0,0,Italy,IT,3
3219,2020-02-18,18,2,2020,0,0,Italy,IT,3
3218,2020-02-19,19,2,2020,0,0,Italy,IT,3
3217,2020-02-20,20,2,2020,0,0,Italy,IT,3
3216,2020-02-21,21,2,2020,0,0,Italy,IT,3
3215,2020-02-22,22,2,2020,14,0,Italy,IT,17
3214,2020-02-23,23,2,2020,62,2,Italy,IT,79
3213,2020-02-24,24,2,2020,53,0,Italy,IT,132
3212,2020-02-25,25,2,2020,97,4,Italy,IT,229
3211,2020-02-26,26,2,2020,93,5,Italy,IT,322
3210,2020-02-27,27,2,2020,78,1,Italy,IT,400
3209,2020-02-28,28,2,2020,250,5,Italy,IT,650
3208,2020-02-29,29,2,2020,238,4,Italy,IT,888
3207,2020-03-01,1,3,2020,240,8,Italy,IT,1128
3206,2020-03-02,2,3,2020,561,6,Italy,IT,1689
3205,2020-03-03,3,3,2020,146,17,Italy,IT,1835
3204,2020-03-04,4,3,2020,667,28,Italy,IT,2502
3203,2020-03-05,5,3,2020,587,27,Italy,IT,3089
3202,2020-03-06,6,3,2020,769,41,Italy,IT,3858
3201,2020-03-07,7,3,2020,778,49,Italy,IT,4636
3200,2020-03-08,8,3,2020,1247,36,Italy,IT,5883
3199,2020-03-09,9,3,2020,1492,133,Italy,IT,7375
3198,2020-03-10,10,3,2020,1797,98,Italy,IT,9172
3197,2020-03-11,11,3,2020,977,167,Italy,IT,10149
3196,2020-03-12,12,3,2020,2313,196,Italy,IT,12462
3195,2020-03-13,13,3,2020,2651,189,Italy,IT,15113
3194,2020-03-14,14,3,2020,2547,252,Italy,IT,17660
3193,2020-03-15,15,3,2020,90,173,Italy,IT,17750
3192,2020-03-16,16,3,2020,6230,370,Italy,IT,23980
3191,2020-03-17,17,3,2020,4000,347,Italy,IT,27980
3190,2020-03-18,18,3,2020,3526,347,Italy,IT,31506
3189,2020-03-19,19,3,2020,4207,473,Italy,IT,35713
3188,2020-03-20,20,3,2020,5322,429,Italy,IT,41035
3187,2020-03-21,21,3,2020,5986,625,Italy,IT,47021
3186,2020-03-22,22,3,2020,6557,795,Italy,IT,53578
3185,2020-03-23,23,3,2020,5560,649,Italy,IT,59138
3184,2020-03-24,24,3,2020,4789,601,Italy,IT,63927