# Plot cases and deaths across countries

In [1]:
import pandas as pd
import matplotlib.pylab as plt
from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

In [3]:
from datetime import datetime
today_date=datetime.now()
#filename = "https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-"+today_date.strftime('%Y')+"-"+today_date.strftime('%m')+"-"+today_date.strftime('%d')+ ".xlsx"
filename ="https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-03-30.xlsx"
df=pd.read_excel(filename)

In [14]:
def cummulative_cases(df_in, country_code, starting_point):
    country_df = df_in.loc[df_in["geoId"]==country_code]
    country_df = country_df.sort_values('dateRep')

    country_df['T_Cases'] = country_df['cases'].cumsum()
    
    #remove the cases without recognised cases.  there seem to be a gap at the beginning.  
    indexNamesC = country_df[country_df['T_Cases'] <= starting_point ].index
    country_df.drop(indexNamesC, inplace=True)
    
    country_df = country_df.reset_index(drop=True)
    
    return country_df[['dateRep', 'geoId', 'T_Cases']]

In [15]:
df_1=cummulative_cases(df, "UK", 200)
df_1

      dateRep geoId  T_Cases
0  2020-03-08    UK      206
1  2020-03-09    UK      273
2  2020-03-10    UK      321
3  2020-03-11    UK      373
4  2020-03-12    UK      456
5  2020-03-13    UK      590
6  2020-03-14    UK      707
7  2020-03-15    UK     1140
8  2020-03-16    UK     1391
9  2020-03-17    UK     1543
10 2020-03-18    UK     1950
11 2020-03-19    UK     2630
12 2020-03-20    UK     3277
13 2020-03-21    UK     3983
14 2020-03-22    UK     5018
15 2020-03-23    UK     5683
16 2020-03-24    UK     6650
17 2020-03-25    UK     8077
18 2020-03-26    UK     9529
19 2020-03-27    UK    11658
20 2020-03-28    UK    14543
21 2020-03-29    UK    17089
22 2020-03-30    UK    19522